name: Build & Release Electron App

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Electron App
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Running on $RUNNER_OS"
          if [ "$RUNNER_OS" = "Windows" ]; then
            npm run dist:win
          else
            npm run dist:mac
          fi

      - name: Upload files to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: release/**
